.banner {
    background-image: url('images/hotel/banner/banner4.jpg'),linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
.gradient-background {
    background: url("/images/hotel/banner/banner2.jpg"),linear-gradient( #0088FF, #00FF88);
  }
